#site-navigation .logo #head {
    height: 75px;
    width: 75px;
}

#site-navigation .logo {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    margin-left: 15px;
    text-decoration: none;
}

#site-navigation .logo:hover .title-hidden {
    animation: slide-in-left 1s steps(120, end) forwards;
}

.title-hidden {
    overflow: hidden;
    width: 0;
}

@keyframes slide-in-left {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#site-navigation {
    align-items: center;
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
}

#top-canvas {
    height: 85%;
    width: 100%;
}